<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://unpkg.com/picnic">
      <title> 1. Database</title>

  </head>
  <body background="https://www.duurzaambedrijfsleven.nl/articleimage/12271/1000">
  <b>Champignon database</b><br>
  Klik op de champignons om grafieken over de database te zien.<br>
  <a href="grafieken.html"><img src="https://media1.giphy.com/media/ZO7JobQkihqr1meNep/giphy.gif?cid=790b76115ce29622514e634e514dd784&rid=giphy.gif" width="140" height="140">
  </a><br>
  Op deze website kan je in de database filteren.<br>
  Voer een categorie in en een zoekwoord.<br>
  Klik daarna op zoek om in de database te zoeken.
  <form method="post" action="/resultaat">
      <input list="categorien" name="categorie">
      <datalist id="categorien">
          <option value="Naam_organisme">Organisme</option>
          <option value="Omschrijving_eiwit">Eiwit functie</option>
          <option value="Accessie_code">Accesie code</option>
      </datalist>
      <input name="woord" type="text" placeholder="Voer zoekwoord in"/>
      <button type="submit"> Zoek!</button>
  </form>
{#  <table>#}
{#  <tr>#}
{#      <th>ID</th>#}
{#      <th>Organisme</th>#}
{#      <th>Omschrijving eiwit</th>#}
{#      <th>Accessie code</th>#}
{#      <th>Query covery</th>#}
{#      <th>E-value</th>#}
{#      <th>Percentage identity</th>#}
{#      <th>taxonomie ID</th>#}
{#  </tr>#}
{#      {% for d in data %}#}
{#          {% for d in list2 %}#}
{#      <tr>#}
{#          <td>{{ d }}</td>#}
{#      </tr>#}
{#      {% endfor %}#}
{#  </table>#}
{#  </body>#}
{# </html>#}