<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="https://unpkg.com/picnic">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: "Lato", sans-serif
        }
        .mySlides {
            display: none
        }
    </style>
    <title>Database</title>


</head>
<body background="https://www.duurzaambedrijfsleven.nl/articleimage/12271/1000">

<!-- Navbar -->
<middle>
    <div class="w3-top">
        <div class="w3-bar w3-black w3-card">
            <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right"
               href="javascript:void(0)" onclick="myFunction()"
               title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
            <a href="{{ url_for ('connectie') }}"
               class="w3-bar-item w3-button w3-padding-large">HOME</a>
            <a href="{{ url_for ('database') }}"
               class="w3-bar-item w3-button w3-padding-large w3-hide-small">Database</a>
            <a href="{{ url_for ('grafieken') }}"
               class="w3-bar-item w3-button w3-padding-large w3-hide-small">Grafieken</a>
            <a href="{{ url_for ('blast') }}"
               class="w3-bar-item w3-button w3-padding-large w3-hide-small">BLAST</a>
        </div>
    </div>
</middle>
<p><br><br>
    <b>Welkom op onze website</b><br>
Op deze website kan je verschillende dingen doen:<ul>
    <li>Zoeken in de <b>database</b>.<br>
    Op deze pagina kunt u d.m.v. zoekwoorden in de database zoeken naar header, organisme, accesiecode en eiwitfunctie</li>
    <li><b>Grafieken</b> over de database bekijken.<br>
    Op deze pagina staan grafieken over de database.</li>
    <li>Zelf sequenties <b>BLASTEN</b>.<br>
    Op deze pagina kunt u zelf sequenties BLASTEN en eventueel toevoegen aan de database.</li>
</ul>
Deze website is gemaakt door <b>Annemieke, Robert en Lize</b>.<br>
In opdracht van het HAN-biocentre.<br>
Voor het maken van deze website is een dataset gebruikt met sequenties van organisme uit champignoncompost.<br>
Deze is verkregen d.m.v. paired-end Illumina sequencing.<br>
</p>
<img src="https://media1.giphy.com/media/ZO7JobQkihqr1meNep/giphy.gif?cid=790b76115ce29622514e634e514dd784&rid=giphy.gif" width="140" height="140">
</body>
</html>
