
<br>
<hr class="versie1">
<br>
Wilt u de resultaten opslaan in de database?
<form method="post" action="/opslaan_database">
    <label>
  <input type='radio' name="checked" checked value="opslaan">
  <span class="checkable"> Ja </span>
</label><br>

<input id="radiodemo" type='radio' name="checked" value="niet_opslaan" >
<label for="radiodemo" class="checkable"> Nee </label><br>
    Welke header wilt u dit resultaat meegeven?
    <input type="text" name="Header">
    <input onclick="return confirm('Weet u zeker dat u deze BLAST wilt ' +
     'toevoegen aan de database?')"  type="submit" value="Opslaan">
</form>

